body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.outer {
    margin-inline:auto;
    width:300%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 1px solid black;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}

.inner{
    position: relative;
    width: 50px;
    aspect-ratio: 1/1;
    background-color: green;
    margin-inline:auto;
    
}